{% extends "dashboard/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <title>Parolayı Değiştir</title>
{% endblock %}

{% block body %}
    <div class="container-fluid mt-2">
     <ol class="breadcrumb  mb-4 mt-2">
                        <li class="breadcrumb-item ">Yönetim Sistemi</li>
                        <li class="breadcrumb-item active">Parolayı Değiştir</li>
     </ol>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "error" %}
                <div class="alert alert-danger " role="alert">

            {% else %}
                <div class="alert alert-{{ message.tags }} " role="alert">

            {% endif %}
        {{ message }}

        </div>
        {% endfor %}
    {% endif %}
<div class="row  justify-content-md-center  mt-3">
    <div class="col-8   border">
        <h3>Parolayı Değiştir </h3>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary mt-4 btn-lg btn-block mt-4 " type="submit">Değiştir</button>

        </form>

    </div>
</div>
</div>





{% endblock %}
{% block script %}

{% endblock %}
